:root {
  /* colors */
  --green: #187740;
  --red: #c44536;
  --white: #ffffff;
  
  --body-bkg: color-mix(in oklch, var(--green), white 75%);
  --day-bkg: color-mix(in oklch, var(--red), black 25%);
  --day-txt: var(--white);
  --card-color: var(--white);
}


* {
  margin: 0;
  padding: 0;
  line-height: 100%;
}

body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2rem;
  column-gap: 5vw;
  
  padding: 5vw;
  
  background-color: var(--body-bkg);
}

section {
  display: flex;
  justify-content: center;
}

.card-holder {
  --unit: 1rem;
  
  display: grid;
  grid-template-columns:
    calc(var(--unit) * 2.5)
    calc(var(--unit) * 15)
    calc(var(--unit) * 2.5);
  
  grid-template-rows:
    var(--unit)
    var(--unit)
    calc(var(--unit) * 20);
    
  .card {
    grid-row: 2 / 4;
    grid-column: 2 / 3;
    
    background-color: var(--card-color);
    transition: background-color 0.25s;
  }
  
  button.open-day {
    grid-row: 3 / 4;
    grid-column: 1 / 4;

    background: var(--day-bkg);
    border: none;
    font-size: 10rem;
    color: var(--day-txt);

    /* for the card behind */
    z-index: 1;
    margin-top: 5rem;
  }
  
  &:has(button.open-day:hover, .card:hover) .card {
    grid-row: 1 / 4;
    background-color: green;
  }
}